[2020-04-15 14:38] garronej opened #2 "ASSETS"

[2020-04-15 14:39] garronej commented on #2
![denoify](https://user-images.githubusercontent.com/6702424/79350330-981a2300-7f37-11ea-919e-a129d55bb01e.png)

[2020-04-15 14:45] garronej commented on #2
![denoify_cover](https://user-images.githubusercontent.com/6702424/79351107-900eb300-7f38-11ea-8272-91ff725d29f3.png)

[2020-04-15 14:51] #2 closed

[2020-05-30 17:55] ovesco opened #4 "does reflect-metadata work"
Hey nice project!
Just tried to use it with one of my own: https://github.com/ovesco/diosaur
But it fails miserably with the following error:
[code]

I believe it might be related to the use of `reflect-metadata` but didn't find any note about this in the readme, is it supported? Asking because I'm not sure if I should consider it a package to denoify before

Thanks!

[2020-05-30 18:55] garronej commented on #4
Hey,
Hold on let me have a look :octocat:

[2020-05-30 19:47] garronej commented on #4
@ovesco Sorry the error message is not very meaningful I have to improve that.
Denoify needs a ``main`` field in the ``package.json``.
Check out my PR for diosaur, everything should be working, come back to me if it is not the case.

Keep up the good work 👍

[2020-05-31 09:19] ovesco commented on #4
Oh my bad quite ashamed then ahah, Thanks for the help ! You might also want to add a special note about reflection in denoify to say it is supported if the library depends on it :)

[2020-05-31 09:59] garronej commented on #4
Thank you for the kind words,

Regarding ``reflect-metadata``, it is not supported out of the box,  I had to add a ``denoPorts`` entry in your package.json, I won't add it in the know-port.json yet because it does not import the types definitions so it forces you to use ts-ignore. I have to investigate how to get the port supported with https://github.com/denoland/deno/pull/2746
I will tell you wh

[2020-05-31 10:00] garronej commented on #4
Until then I re-open the issue

[2020-05-31 13:22] ovesco opened #5 "Windows support"
Using `exec('rm -rf ...')` directly prevents usage without git bash, and even with it I didn't manage to run denoify on windows. I'm currently working on it, could https://www.npmjs.com/package/rimraf be considered as a good replacement ?

[2020-05-31 15:57] garronej commented on #5
So Denoify doesn't run on windows? Bummer.
I tried to remain OS-agnostic when writing it but I'll admit I haven't it on windows.
Regarding rimraf, why not if what it does can't easily be replicated with the node's builtins....

I will try to boot in windows and see what is up, could you give me a way to reproduce ?

[2020-05-31 16:09] ovesco commented on #5
Yes I simply tried to build https://github.com/ovesco/diosaur on Windows with denoify using the powershell

[2020-05-31 17:46] garronej commented on #5
I see, I will use `fs.unlinkSync` instead

[2020-05-31 22:14] garronej commented on #5
Ok, I am able to reproduce with powershell.
It is working with bit bash for me though.

Working on resolving the issue

[2020-05-31 23:13] garronej commented on #5
@ovesco it should be working in windows using powershell now

[2020-05-31 23:13] #5 closed

[2020-06-01 01:04] garronej commented on #4
For future reference: https://github.com/ovesco/diosaur/pull/4

[2020-06-01 22:17] garronej commented on #2
![what_denoify_does](https://user-images.githubusercontent.com/6702424/83460348-7254c900-a466-11ea-841a-dfa098beb951.png)

[2020-06-18 19:18] qballer opened #6 "is there a usecase for nodeify ?"
Considering writing a package which does the other way around, thing is, I don't have a use case for that. Would it make sense to take a deno module and do what ever is needed to run in node ?

[2020-06-18 21:48] garronej commented on #6
Hi @qballer,
There are definitively tons of use cases for Nodeify!
It would be great when writing a module for Deno to also be able to support Node.
It would be a step toward keeping the JavaScript community united. Peoples that develop for Node can bring Deno compact thanks to Denoify and peoples that develop for Deno could bring Node support with Nodeify.

That said there are some things you mig

[2020-06-19 05:39] qballer commented on #6
1. Makes sense. Can you elaborate more on what a node-comparability-layer will need in your mind?
2. Which issues do you see with dev-tools?
3. Shouldn't be a problem because I'm dealing with dev-tools for a while.

[2020-06-19 18:02] garronej commented on #6
1. Well, you would need to polyfill for Node all of [thoes](https://deno.land/std). Meaning that you would have to create a node module for each entry in the list. Every module would have exactly the same API that the one defined in deno.land/std. Fun task but lots of work ahead.
2. To handle dependencies you have two options: the first one is to bundle the URL import you ran against with "nodifie

[2020-06-20 06:18] qballer commented on #6
thank a lot for the insights, I've decided to go for the project. If you would like to collab on it in anyway do let me know.

[2020-06-20 13:21] garronej commented on #6
I can't invest dev time into Nodeify, I have already a lot on my plate with Denoify EVT and my work but if you want to consult me on design decision I will be happy to help.
Once you get to the point where you have decent documentation and a couple of practical examples of Nodeify working on real modules I will be happy to point people to Nodeify in the Denoify documentation.

It would also be gre

[2020-06-20 14:15] garronej commented on #6
@qballer When picking [coward](https://github.com/fox-cat/coward) at random I didn't realize that it uses [EVT](https://evt.land), a package that uses Denoify.
This makes me think that you should be able to automatically support 'Denoifyed' module by using their NPM counterpart.

For example when you run against an import like:
[code]
you should replace the statement by:

[code]
and populate the g

[2020-06-20 14:21] garronej commented on #6
Also be aware that you can run against specific imports like:

[code]

That should be replaced by

[code]

[2020-06-20 14:26] garronej commented on #6
...And for modules deployer without using denoify_ci you could run against import like:

[code]

Thant should be replaced by (`deno_dist`->`dist`):

[code]

[code]

[2020-06-20 20:46] qballer commented on #6
I totally agree we should play well together. I thought about starting first with oak, a denofied package is an interesting edge case here. If you would like we can keep this issue open for further coordination.

[2020-06-22 13:39] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/85294166-9a9c7a00-b49e-11ea-90b0-a3b3395456c9.png)

[2020-06-22 13:40] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/85294300-bef85680-b49e-11ea-9836-e836022fcdfd.png)

[2020-06-23 19:21] garronej commented on #2
![83460547-f3ac5b80-a466-11ea-84a9-026dfe225398](https://user-images.githubusercontent.com/6702424/85448868-6c4e9580-b597-11ea-9b61-61f259526249.png)

[2020-06-23 19:27] garronej commented on #2
![what_denoify_does](https://user-images.githubusercontent.com/6702424/85449626-41b10c80-b598-11ea-91cc-6805facab1dd.png)

[2020-06-24 17:33] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/85604253-6ae1a380-b651-11ea-9406-38bb57f190de.png)

[2020-06-26 18:43] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/85890466-af09ab00-b7ed-11ea-9cf4-10c9bbfb3621.png)

[2020-06-28 13:39] thgh opened #7 "Accept URL imports"
I may not be using denoify as intended because I had already replaced soms imports with URLs, so I got this:
[code]

[2020-06-28 21:03] garronej commented on #7
Hello @thgh
Could you point me to the repo where you are trying to setup Denoify?

Otherwise, it is a small issue.

Just leave

[code]
In your `src` files and add this to your `package.json`:

[code]

The result should be that when you run ``npx denoify`` the import should be replaced in `deno_dist` by

[code]

( assuming the version of `ipaddr.js` you had installed in your node module is the `1.1

[2020-06-29 11:33] garronej commented on #7
And by the way, there is [an update](https://github.com/garronej/denoify/commit/c1d261e3d2474c6767554c1b40304b56d97577c9) coming soon that should bring out of the box support for `ipaddr.js` and many other modules.

[2020-06-29 20:38] thgh commented on #7
Cool, I was trying out denoify to port a nodejs project to deno: https://github.com/lithdew/flatend/pull/8
But it's a one time thing so not really what denoify was made for. Still, it would make sense that if you run denoify over a deno codebase that it would not change anything.

[2020-06-29 22:00] garronej commented on #7
Ok noted. 👍

[2020-08-04 20:50] buttercubz opened #8 "deno package registry api"
Hello, with the new deno registration you can consult data to your api, after they deleted the database.json file our tool([trex](https://github.com/crewdevio/Trex)) broke. i think this information can help mend denoify.

`You can query the API as follows`

- https://api.deno.land/modules

- https://api.deno.land/modules?limit=100

- https://api.deno.land/modules?limit=100&query=trex

You can also

[2020-08-04 21:10] garronej commented on #8
It helps a great deal, thank you!

[2020-08-09 11:55] qballer commented on #8
Are there docs open source docs for this?

[2020-08-09 12:07] garronej commented on #8
Hi @qballer!
Not that I know off beside: https://github.com/denoland/deno_registry2/blob/main/API.md

[2020-08-09 12:09] garronej commented on #8
@qballer You can also check [this](https://github.com/denoland/deno_registry2/issues/40#issuecomment-668774286) out, very useful.

[2020-08-10 13:24] #8 closed

[2020-08-17 14:36] yandeu opened #10 "Change to deno.land/x subfolder"
Currently, I'm using v0.3.8.

In >0.4.0, `mod.ts` will be placed inside `deno_lib`.

I guess I only have to append `?subdir=deno_lib%2F` to the github hook in order to publish `deno_lib/` to [deno.land/x](https://deno.land/x)?

So instead of `https://api.deno.land/webhook/gh/nano_jsx`, it will be `https://api.deno.land/webhook/gh/nano_jsx?subdir=deno_lib%2F`?

---

Does `deno_lib/` need to contain

[2020-08-17 14:55] garronej commented on #10
Yes, you only need to update the webhook URL, for you il would be: `https://api.deno.land/webhook/gh/nano_jsx?subdir=deno_lib%252F`, you can also remove `mod.ts` from `tsconfig.json` excludes.

Yes, `deno_lib/` needs to contain the `READM.md`, the root `README.md` is automatically copied in by Denoify.

Regards

[2020-08-19 10:34] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/90624450-41d82c00-e218-11ea-8b02-e276e6ded303.png)

[2020-08-19 22:53] nebrelbug opened #11 "Which files are copied to `deno_dist`?"
This is a really cool project!

Just wondering which files are copied to `deno_dist` when the user runs `denoify`. It looks like `README.md` is... I would also love it if `LICENSE` and `egg.json` or `egg.yml` were copied.

Also, does running `denoify` merge output with the files in `deno_dist` or does it overwrite the whole directory?

Ideally, there would be some option where users could specify

[2020-08-20 04:43] nebrelbug commented on #11
It'd also be great if we could specify files to be excluded from the `deno_dist` directory. If you could point me to some files, I'd be totally willing to take a look at this and create a PR :+1:

Thanks for the great work!

[2020-08-20 12:21] garronej commented on #11
Hi @nebrelbug, thanks for your interest for the project.

I am very glad you asked. There is obviously a needs to copy more than just the `README.md` in the `deno_dist/` directory.
I was hoping someone would raise the issue so I can discuss it with someone.
My idea was to have an extra custom `package.json` field where you would list files to include. What do you think about that?
I think it is sa

[2020-08-21 01:10] nebrelbug commented on #11
Thanks for the response!

Sounds like a good idea to me. It might be helpful if all the `denoify` fields were under one `"denoify"` parent field in `package.json`. I think if LICENSE is present it can just be copied in.

I think it might be better not to create symbolic links... I feel like those tend to create lots of bugs.

I didn't! Thanks for letting me know.

Didn't know that either! I'm actu

[2020-08-21 07:59] garronej commented on #11
Agreed, that is what I was thinking, it introduces yet another breaking change though, I guess it's OK as we're not stable yet.

Featured in `v0.4.14`

👍

Cool! I am thinking about automatically renaming all `index.ts` in `mod.ts` in `deno_dist` to make the produced Deno distribution more "denoish". But I am not sure it is a good ide as I remember Ry saying something like "if you do something just

[2020-08-26 03:30] garronej commented on #7
Done

[2020-08-26 03:30] #7 closed

[2020-08-26 03:32] garronej commented on #11
Took me some time but:

**NEW IN v0.5** *Breaking changes*
-All Denoify parameters are now gathered under a uniq `"denoify"` field.
-Possibility to specify which files should be copied to the `deno_dist` directory (Previously only `README.md` vas copied).
[Valid config example](https://github.com/garronej/my_dummy_npm_and_deno_module/blob/master/package.json)

Thanks for the suggestions!

[2020-08-26 03:32] #11 closed

[2020-09-03 16:46] wojpawlik opened #13 "`'C:\Program' is not recognized as an internal or external command`"
[code]

I believe the reason is creating a shell command by naive string concatenation: https://github.com/garronej/denoify/blob/a81800d634936f2214481f2d6888661494834e41/src/lib/replacer.ts#L103-L106

[2020-09-03 21:45] garronej commented on #13
Damn it,
I know this was bound to happen. I didn't run the test on windows for a while.
I definitely need to setup a CI job for it.

I will fix it tomorrow if I can spare some time.

Thanks for reporting

[2020-09-04 16:34] nebrelbug commented on #11
@garronej just gave my JS template engine, [Eta](https://deno.land/x/eta), Deno support! Thanks for your great package.

[2020-09-04 21:31] garronej commented on #11
![image](https://user-images.githubusercontent.com/6702424/92286227-bc869400-ef06-11ea-8f0b-4b56ef936224.png)

[2020-09-04 22:14] garronej commented on #11
I don't know if you saw but I added eta in the readme

[2020-09-05 16:34] garronej commented on #13
@wojpawlik sorry, I haven't been able to do it yet but I am on it.

[2020-09-06 23:12] garronej commented on #13
@wojpawlik It took me longer to setup a windows environement than actually fixing the bug...
Do not hesitate to reopen if the problem presists.

Cheers

[2020-09-06 23:12] #13 closed

[2020-09-07 11:32] wojpawlik commented on #13
Thanks, it works now, I mean, it prompts me to denoify my dependencies :) How would one go about denofiying https://github.com/KnorpelSenf/typegram, which is 100% types, no JS?

[2020-09-07 12:32] garronej commented on #13
I am at work now so I can't do it now but it would help me if you share examples where you import typegram in your code. Even beter would be if you showed me the repo you are working on.

[2020-09-07 12:55] wojpawlik commented on #13
I'm working on https://github.com/telegraf/telegraf.

[2020-09-07 13:32] garronej commented on #13
Cool! This is a big project. I will try to help you Denoify it.

[2020-09-07 13:33] garronej commented on #13
I can't now but I will try to have a look tonight

[2020-09-08 19:05] garronej commented on #13
Hey @wojpawlik, I am sorry but telegraf uses `http` and `https` node builtin. That are [not yet supported](https://deno.land/std@0.68.0/node#supported-builtins). If you are really serious about supporting Deno it is still possible to make telegraf portable but it will involve writing wrappers around the unsupported node builtins and coming out wit custom Deno implementation for those wrappers.
I c

[2020-09-09 07:13] wojpawlik commented on #13
Thanks. I'm not that determined right now, I'll wait for `https?` support.

[2020-09-09 07:19] garronej commented on #13
@wojpawlik Allright, I will ping you when the deno's node compatibility layer is completed enough to support `telgraf`, unfortunately, it does not seems to be the Deno's team priority right now so it make take some time.

[2020-09-10 11:17] xcatliu opened #14 "Consider using Pagic to build the website?"
[Pagic](https://pagic.org) is a static site generator powered by Deno + React

Here are some demos:

- [pagic.org](https://pagic.org)
- [Deno X ranking](https://yoshixmk.github.io/deno-x-ranking/)
- [TypeScript 入门教程](https://ts.xcatliu.com/)

If it is possible to use pagic to build the website, I would like to create the pull-request

[2020-09-10 17:07] garronej commented on #14
You mean a website for the Denoify project I assume?

Yes sure! I'm waiting for your PR.

Best regards

[2020-09-17 03:22] gensior opened #16 "README.md moved to deno_dist as subdirectory"
I had been using v0.2.22 just fine on a project that I started a few months ago. I just upgraded to v0.5.5 and now when I run `denoify` I get an error that a subdirectory could not be removed.

Turns out denoify is copying my readme.md file as a directory within the deno_dist folder, rather than a file.

I'm running this on Windows 10.

[2020-09-17 07:53] garronej commented on #16
Ok sorry about that. :/
Could you give me the link of the project you are working on (if it is opensource).
I will try to get it fix today.

[2020-09-18 07:04] gensior commented on #16
No worries, I was able to keep using the original version for now.

Here’s my [project](https://gitlab.com/jewel-duel/domain)

[2020-09-18 13:02] garronej commented on #16
Cool to see some game dev happening within the Deno ecosystem.
I will get it fixed this weekend, I'll tell you when it's done.
Thank you for reporting!

[2020-09-20 12:33] #16 closed

[2020-09-20 12:33] garronej commented on #16
@gensior fixed, thank you for reporting

[2020-09-29 02:34] gensior commented on #16
Sorry for the late reply, I finally had time to check. It works like a charm, thank you!

[2020-11-07 08:13] qballer commented on #6
Just to let you know I've dropped this project idea since it's too much work and I see little user base for it.

[2020-11-07 09:37] #6 closed

[2020-11-22 00:23] garronej commented on #2
![image](https://user-images.githubusercontent.com/6702424/99890595-3c4c1100-2c61-11eb-8dd8-737b3fd1423e.png)

[2020-11-22 00:26] garronej commented on #14
Sorry I ended up using gitbook because I am used to it so its quicker for me to setup. But pagic looks cool, I just don't have enough time on my hand to check it out. Maybe later on another project!

Best regards

[2020-11-22 00:26] #14 closed

[2020-11-28 21:45] shadowtime2000 opened #19 "Can this be used in Windows?"
Hi 👋 ,
I am one of the maintainers of [eta](https://github.com/eta-dev/eta) which uses denoify to create deno builds. When I try to attempt a build, it seems like denoify is running `mkdir -p` which then fails, because I believe on windows it doesn't recursively create the parent directories, it simply creates a directory called `-p`. I am wondering if you are going to use some alternatives to cre

[2020-11-29 06:50] shadowtime2000 commented on #19
Looking at the code, it seems like instead it is using `fs` to do that, but it is failing cause `-p` already exists. But the problem is is that when I delete `-p`, it creates it again and then exits with the error that it already exists.

[2020-11-29 08:07] shadowtime2000 commented on #19
Wait no, deleting `-p` resolves the issue with running `mkdir -p` or something, but after that it runs `rm -rf deno_dist\README.md` which fails because `rm` is not a command on Windows.

[2020-11-29 08:11] shadowtime2000 commented on #19
Seems like it was using an older version of denoify, updating it seems to have done the trick.

[2020-11-29 08:11] #19 closed

[2020-12-18 17:43] wojpawlik opened #20 "Support jspm.dev ports with default replacer"
Custom replacers look complex, I'd love to be able to just
[code]

[2020-12-19 17:11] garronej commented on #20
Hi @wojpawlik,

You are right, I should consider support for this. I didn't yet because I am trying to encourage the use of custom replaces that are more versatile and powerful but they are, I agree, much harder to get working as well.

However as a quick fix here is the custom replacer for `sanswich-stream`:

Create a file named `denoify-replacer.js` for example and place it in a `scripts/` direc

[2021-01-31 21:59] yandeu opened #21 "How to exclude a folder from copying over to /deno_dist?"
Hi @garronej,

I took a look at the [package.json settings](https://github.com/garronej/my_dummy_npm_and_deno_module/blob/5cbf9ad914a4632491fd64615a84f450bb24a9ae/package.json#L19) but I could not exclude an entire folder from being copied over to `deno_dist`.

In my [project](https://github.com/nanojsx/nano), I would like to exclude the folders `/src/bundles` and `/src/dev` from getting copied ov

[2021-02-01 12:00] garronej commented on #21
Hi @yandeu, I am only seeing your issue now, let me have a look...

[2021-02-01 12:07] garronej commented on #21
I understand the usecase. Unfortunately, as for now, there is no way to exclude a whole  parent directory of `src/` from being transpiled by Denoify.
You can, however, add [`// @denoify-ignore`](https://github.com/garronej/my_dummy_npm_and_deno_module/blob/da1a5ab4d0e61a61b559c64ba6ed26422ceaa405/src/bin/customReplacer.ts) at the top of the files you dont want to be copied over `deno_dist`...
But

[2021-02-01 12:45] yandeu commented on #21
Thanks! I thought I just keep entering the wrong settings.

---

No, I just use `rimraf` then :smiley:

[code]

[2021-02-01 12:45] #21 closed

[2021-03-28 20:09] wojpawlik commented on #6
Today I wrote https://github.com/wojpawlik/deno2node 🎉

[2021-04-06 08:56] schiederme opened #22 "Documentation not loading"
Hey,
I noticed that the documentation is not loading.

Is this a problem on my side or on yours?

https://docs.denoify.land

[2021-04-06 13:12] garronej commented on #22
Thanks for reporting!
On my side.
However this is the real meat of the documentation: https://github.com/garronej/my_dummy_npm_and_deno_module

[2021-05-05 00:13] hayes opened #23 "Does not work with yarn workspaces"
Currently denoify does not work well with packages inside yarn workspaces because modules are mostly hoisted into the root node_modules directory.

`getInstalledVersionPackageJsonFactory` can't find these packages when they are hoisted.

One way to fix this would be to use require.resolve instead by doing something like:

[code]

insttead of
[code]

[2021-05-05 00:35] hayes opened #25 "Set destination directory manually rather than inferring from tsconfig."
It would be really helpful to be able to specify the directory denoify outputs into (either via a config option, or a cli option)

[2021-05-05 09:57] garronej commented on #22
Fixed... eventually

[2021-05-05 09:57] #22 closed

[2021-05-05 10:14] garronej commented on #23
Fantastic investigation

[2021-05-05 11:14] garronej opened #26 "TODO"
# TODO LIST / Things that need to change

- [ ] Improve documentation. (New website incoming)
- [ ] Gather all imports in a `/deps.ts` [oscarotero/nodedeno](https://github.com/oscarotero/nodedeno) does.
- [ ] Support `baseUrl` tsConfig option. (Import non relative path relative to `baseUrl`)
- [x] Support `myModule.deno.ts` alongside `myModule.ts` for deno specific implementation of part of the co

[2021-05-05 12:24] garronej commented on #25
Hi @hayes,
Thank for your contributions!
I am willing to implement this but wouldn't `npx denoify && mv deno_dis <your_path>` do the trick.
Are you in a case where the tsconfig can't be parsed?

Regards

[2021-05-05 15:39] hayes commented on #25
I think my use cases ended up being too unique to make this work cleanly.  My issue is that I am working in a mono-repo with interdependent packages (compiled with project refs).  I was trying to figure out how to build all the packages into one directory and update all the imports of sibling packages to relative imports.  Building in each package, and then copying over kind of worked, but wasn't

[2021-05-05 18:51] garronej commented on #25
Thank you for helping improve the tool!

[2021-05-06 00:38] #23 closed

[2021-05-07 15:16] andreswebs opened #27 "Dead link in the README"
Hi,

this link in the [README](https://github.com/garronej/denoify#what-it-is):

<https://github.com/denoland/deno/tree/master/std/node/#commonjs-module-loading>

is dead, and could be updated to:

<https://github.com/denoland/deno_std/tree/main/node#commonjs-module-loading>

I can open a PR, let me know if it helps.

[2021-05-07 17:06] garronej commented on #27
Hi,
Thank you for letting me know.
Yes please open a PR, I am always happy to have a new contributor in the list :)

[2021-05-07 18:57] #27 closed

[2021-05-09 03:17] garronej commented on #2
![deno_registration](https://user-images.githubusercontent.com/6702424/117559462-c9571b00-b085-11eb-9ea5-683a0b0bb866.png)

[2021-05-17 10:01] #26 closed

[2021-08-07 16:18] yandeu opened #29 "How to denoify a ECMAScript modules package?"
Hi

I'm trying to denoify a package that outputs only ESM code. But when I denoify it, the output is:
[code]
instead of
[code]

Any idea what I should change? Here is [my repsitory](https://github.com/yandeu/denoify-esm).

Thanks a lot!

[2021-08-08 14:52] garronej commented on #29
Hi @yandeu,
I will have a look if there is something easy I can do about it but currently Denoify only works with TypeScript codebase.

[2021-08-08 15:28] yandeu commented on #29
Hi @garronej,

Thanks for looking at it. It actually is a TypeScript codebase.

It should run on Deno and Node.js (esm-only).

The repo is pretty small. I guess you will immediately understand the issue.

[2021-08-09 12:30] #29 closed

[2021-10-14 12:32] KillyMXI opened #34 "Don't fail without `outDir` in tsconfig.json when `denoify.out` is specified in package.json"
I only needed `declarationDir` for my project.
It's no big deal - I lost nothing from specifying `outDir` instead.
I just see no reason why it should fail when enough info is supplied via other config keys.
Expected logic is:
"If specific value (`denoify.out`) is provided then run with it, otherwise try to construct a fallback value based on `outDir`."

[2021-10-14 15:28] garronej commented on #34
Ok! I put that dix on l'y todo liste.

Thanks for reporting

[2021-10-15 11:14] KillyMXI opened #35 "Ways to automatically discover Deno ports"
It's not something that affects me directly yet, but I find it a curious and underexplored problem.

The situation may get exponentially better as more packages expose their Deno port in some way suitable for automation. Much better than trying to keep a hand-filled dictionary of ports.

I was considering `make-deno-edition` along with Denoify, and their attempts to address this problem is what ma

[2021-10-15 15:22] garronej commented on #35
Yeah, that's true 😞

The problem is that:
1) It is very sophisticated, it's description would have to be a long text that I know very few people would read, if any.
2) If I update the algorithm I have to update the documentation accordingly. Just keeping [the demo repo](https://github.com/garronej/my_dummy_npm_and_deno_module) up to date is easier.

I didn't see it under this angle. I now understa

[2022-02-09 02:02] Artrix9095 opened #39 "Built-in module auto porting"
I have a scenario. So, lets say your using node-fetch for your NodeJS version of your library, but you want to use the built-in fetch module in deno. Or lets say you use ws for nodejs and the built-in websocket module in deno. I currently have a very hacky solution
[code]
Cons of this method is... I no longer get intellisense for the `WebSocket` variable.

I think something like this would be nice

[2022-02-09 11:35] garronej commented on #39
Hi @Artrix9095,

Thanks for reaching out.  I think there is something in Denoify already that will fit your needs.
Do you know about the `.deno.ts` files?

In [my_dummy_npm_and_deno_module](https://github.com/garronej/my_dummy_npm_and_deno_module#step-2-enabling-the-modules-hard-dependencies-to-run-on-deno)
![image](https://user-images.githubusercontent.com/6702424/153190780-5e6917ec-48bf-46eb-957

[2022-02-09 15:52] Artrix9095 commented on #39
Thanks for the fast reply, this should work. Thanks!

[2022-02-09 15:52] #39 closed

[2022-03-14 10:22] chmac opened #40 "Import from @/deepmerge DENOIFY: DEPENDENCY UNMET (BUILTIN)"
See https://github.com/RebeccaStevens/deepmerge-ts/issues/84 for the details.

The denoify output code is:

https://github.com/RebeccaStevens/deepmerge-ts/blob/0075d00a5fb8b905b390c8f91162760379dc41c5/dist/deno/types/options.ts#L1

Somehow the string `"@/deepmerge DENOIFY: DEPENDENCY UNMET (BUILTIN)"` ends up as the import file name, even though it should be `./defaults.ts` which also exists. I tr

[2022-03-14 10:25] RebeccaStevens opened #41 "Support paths?"
TypeScript path mappings don't seem to be supported.

Config:

[code]

Source file:

[code]

Denoified file:

[code]

[2022-03-14 11:49] RebeccaStevens opened #42 "Custom replacers should be passed the file path of the file the import was in"
There doesn't seem to be any way to get the path of the file being worked on with in a custom replacer. Thus it makes it impossible to return a relative path for the import.

[code]

[2022-03-14 14:10] chmac commented on #40
I think the issue was in the original code using a format not supported by denoify.

Would it make more sense for denoify to exit with an error in a case like this? I guess this went unnoticed because the build succeeded but the output code was clearly not valid TypeScript.

[2022-03-14 17:00] garronej commented on #42
@RebeccaStevens First of all, I acknowledge that custom replacers are hard to apprehend.

Now isn't what you are looking for `destDirPath` ?!

Consider this example of custom replacer:

It takes:
[`src/lib/Cat.ts`](https://github.com/garronej/my_dummy_npm_and_deno_module/blob/55cfa4f0a86be555c910631b9fa7c85a44f5e5a0/src/lib/Cat.ts#L10)
[code]
And transforms it into:
[`deno_dist/lib/Cat.ts`](https:

[2022-03-14 17:13] garronej commented on #41
You are right. Path mappings isn't supported and it should be.
It seems like an easy to implement feature unfortunately I don't have time to work on this right now.
PRs are not expected but very welcome.

[2022-03-14 17:18] garronej commented on #40
Hi @chmac,
Thanks for reporting the issue.
You are right, path alias should be supported and, in the meantime, it would be better to have an error at build time.
I have sorry but I really can't work on that at the moment. PR are not expected but very much welcome.
Best regards,
Closing as duplicate of [#41](https://github.com/garronej/denoify/issues/41).

[2022-03-14 19:08] chmac commented on #40
Thanks for the quick response. I understand the challenges of not having as much time as one might like to work on free software.

Would it make sense to have another issue for the "error on failed build" topic? If so, I'd be happy to write it up, with the understanding that it's there as a reminder and an invitation for anyone who might want to submit a PR. Otherwise, feel free to ignore this if

[2022-03-15 03:02] RebeccaStevens commented on #42
Yeah, that makes sense. Not sure why I didn't realize I could just replace the "deno_dest" part of the path `destDirPath` with my "src" path. Guess I was just too tired.

[2022-03-15 03:02] #42 closed

[2022-07-23 02:51] renovate[bot] opened #44 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>npm</summary>
<blockquote>

<details><summary>package.json</summary>

 - `@octokit/rest ^18.0.0`
 - `@types/comment-json ^1.1.1`

[2022-07-31 15:13] GervinFung opened #45 "fix(typo): typo in help of argument message"
Hi, I believe it is a typo right [here](https://github.com/garronej/denoify/blob/f9959d457b90093f7bdf113e7944791bf0c1e5e6/src/lib/denoify.ts#L314), instead it should be `package.json`. Would a PR for this be welcomed?

[2022-07-31 15:43] garronej commented on #45
Yes vert wellcome ☺️

[2022-07-31 16:38] GervinFung commented on #45
A PR was made, see [here](#46)

[2022-07-31 17:46] #45 closed

[2022-08-01 07:03] GervinFung commented on #6
Also there is [this](https://github.com/denoland/dnt)

[2022-08-01 14:16] GervinFung opened #48 "chore(format): setup prettier for more consistent formatting"
Hey sir, the last time I cloned this repository I have to open `vim` to edit instead of `neovim` to edit it because my `neovim` was setup to auto format on save, which caused a lot of unnecessary changes as my formatting is setup differently. I believe that you have this feature enabled in your `vscode` as well as I see that you added `.vscode` to gitignore.

I think this project should have a `.p

[2022-08-01 16:00] garronej commented on #48
Hi @GervinFung,

Thanks for the proposal!
Yes, I would gladly accept your PR.
If you could configure it in a way that reduces the diff with the current state of the code as much as possible, it would be great.
I know there will be a lot of changes, it's inevitable, but if it could respect the current coding style it would be great.

Looking forward for your PR

[2022-08-01 16:04] GervinFung commented on #48
Do you mind sharing your current `.prettierrc` config or do you have any particular format in mind?

[2022-08-01 17:35] garronej commented on #48
Sure, it would be something like:

[code]

[2022-08-08 22:45] josh-hemphill opened #50 "Ran up against GitHub api limits quickly"
Is there a way to cache and/or disable the automated package resolution?
I was running denoify several times to see where I needed to add some more stuff, and really all I needed when testing was to check the data passing through the custom resolver, the rest had already been resolved.

[2022-08-08 22:49] josh-hemphill opened #51 "Scoped packages not being passed to custom resolver"
I was trying to work with the custom resolver to add all the polyfills/forks for packages, and realized it never resolved any of the namespaced packages.
I've been trying to see if I can get Tedious working in deno (since having mssql support in deno would be huge) and most of the dependencies work grabbing them from esm.sh, but the ones under `@azure/` and `@js-joda` never come through the custom

[2022-08-09 02:32] garronej commented on #50
Hi @josh-hemphill, thank you for reaching out.
You can provide a github access token, it doesn't need to have any particular aces.
Ref: https://github.com/garronej/denoify/blob/master/README.md#deal-with-github-api-rate-limit-exceeded

Best regards,

[2022-08-09 02:38] garronej commented on #51
Hi @josh-hemphill,
Sorry if there is a bug with the custom replacers.  They are already quite hard to work with, if there is bugs on top of it...
Could you:
1) Provide some example of the imports statement you have in the source codebase and what would be the expected output.
2) (Optional) If you could fork [this demo repo](https://github.com/garronej/my_dummy_npm_and_deno_module) and put what you

[2022-08-09 03:30] josh-hemphill commented on #51
Here's the fork of the demo repo, not sure what else to add other than a replacement in the resolver.
Though I also added a console log to it so you can see that none of them include namespaced packages.
For the `@azure/identity` the generated code has `@azure/identity DENOIFY: DEPENDENCY UNMET (BUILTIN)`
The source was
[code]
But it's not multi-line related since the same thing happens with
[code

[2022-08-09 06:00] garronej commented on #51
I can reproduce. I'll address it.

[2022-08-09 15:26] garronej commented on #51
![image](https://user-images.githubusercontent.com/6702424/183690798-b2bd2db1-7dcf-46f1-9420-ab8874e9dfdb.png)

It has been fixed in the last version of Keycloakify, thank you for reporting.

[2022-08-09 16:33] josh-hemphill commented on #51
Awesome! Thanks

It looks like I'm still getting node modules being replaced with `DENOIFY: DEPENDENCY UNMET (BUILTIN)`, is there a config I'm missing to be able to set those to use the incomplete deno_std compat shims?

[2022-08-09 18:19] josh-hemphill commented on #51
If I add an `import dns from 'dns'` to the demo repo with the updated denoify, with or without a manual port/replacement, it always generates `import dns from 'dns DENOIFY: DEPENDENCY UNMET (BUILTIN)'`.

[2022-08-09 18:45] josh-hemphill commented on #48
ESLint now provides formatting directives, and for VSCode autoformats through the apis it exposes to comply with any existing ESLint settings when `"eslint.format.enable": true,` is set.

[2022-08-09 18:52] #50 closed

[2022-08-09 20:25] josh-hemphill opened #52 "Combined (`default` + `named`) imports not transformed"
I've run into imports that try to import both the default and named imports at the same time, and they do not get transformed, resulting in extentionless imports in the deno code.
e.g. (from the Tedious package I'm trying to convert)
[code]
results in
[code]

Here's the modifications to the example repo so you can observe: https://github.com/josh-hemphill/my_dummy_npm_and_deno_module

[2022-08-09 20:38] #51 closed

[2022-08-09 20:39] josh-hemphill opened #53 "Node builtin modules with partial support can't be overridden with replacer or ports options"
It looks like I'm getting node modules being replaced with DENOIFY: DEPENDENCY UNMET (BUILTIN), is there a config I'm missing to be able to set those to use the incomplete deno_std compat shims?
The README says these were supported in v0.11, but if I add an import dns from 'dns' to the demo repo with the updated denoify, with or without a manual port/replacement, it always generates import dns fro

[2022-08-09 23:32] #44 closed

[2022-08-09 23:33] #48 closed

[2022-08-10 00:15] garronej commented on #52
I can reproduce

[2022-08-10 03:29] garronej commented on #52
Fixed in latest release, thanks for reporting.

[2022-08-10 03:29] #52 closed

[2022-08-10 03:40] garronej commented on #53
I can reproduce, thanks for reporting, fixing.

[2022-08-10 15:44] garronej commented on #53
@josh-hemphill, it's fixed... eventually

[2022-08-10 15:44] #53 closed

[2022-08-10 16:37] GervinFung opened #55 "feat(config-file): provide support for config file"
Hi sir, I thought that it might be a good idea to provide a config file as an alternative to specify the configs in `package.json`. We can specify `.prettierrc` or `jest.config.js` in addition to specify the configs through package.json. So we can have `.denoify` or `.denoify.js` etc. The main purpose is to not cloud `package.json` with a lot of stuffs

[2022-08-10 20:12] garronej commented on #55
I agree

[2022-08-11 02:34] GervinFung commented on #55
Yeah, I want to do it. Before that, do you have any file naming convention that you prefer?

[2022-08-11 03:45] garronej commented on #55
How about `denoifyrc.json` and `denoifyrc.js`?

[2022-08-11 07:34] GervinFung commented on #55
Sure, I also think that if there are 2 configs in `package.json` and in a config file, the one in `package.json` will take higher priority

[2022-08-11 08:15] garronej commented on #55
I gave you write access on the repo so you can create a feature branch.
https://github.com/garronej/denoify/invitations
I also invited you to the GitBook.
<img width="1330" alt="image" src="https://user-images.githubusercontent.com/6702424/184091634-d13aa306-cd93-4c6b-bb88-a053ee002ecc.png">

Now could be a good time to start building a proper documentation for the project.

[2022-08-11 08:49] garronej commented on #55
Also, just so you know, there is an important item in my TODO list: Improve the ability of Denoify to automatically discover Deno port of a module.
See the TODO in [this reply](https://github.com/garronej/denoify/issues/35#issuecomment-944506960).

[2022-08-13 07:46] garronej commented on #55
I started a refactor of the build options but I'm aborting it for now.
Documenting the breaking changes and testing to make sure it works on both windows and unix systems would take me to much time that I have avalible on vacations.
I put it for lated though as I would like to have a single file responsable of parsing the build options and infering the rellevent defaults.
I also would like to remo

[2022-08-13 13:08] GervinFung commented on #55
To be clarify doubts, this means that the params in `package.json` will take precedence if the equivalent param in `denoifyrc.json` is undefined.

An example will be if the config in `package.json` is
[code]
and the one in `denoifyrc.json` is
[code]
then the final output would be
[code]
Are you ok with this?

[2022-08-13 18:32] garronej commented on #35
Hi @KillyMXI,
I finally dealt with this issue.
Now, if you upgrade denoify to v0.15 and release a new version of `leac` and `peberminta` they will be automaticallty discoverable.

Meaning that this import:
[code]
Will be tranpiled into:
[code]

I created a documentation page: https://docs.denoify.land/automatic-discovery-of-ports

[2022-08-13 18:32] #35 closed

[2022-08-13 19:21] KillyMXI commented on #55
There was a package made to make it easier to support various conventional config locations and formats.
Can't remember the name unfortunately.
Would it be of help here or `denoify` demands a hand-crafted solution?

[2022-08-13 19:25] KillyMXI commented on #35
Thank you.

I hope this doesn't break the discoverability of the second entry point of `peberminta`.
At least it keeps working with new `denoify` version and existing explicit `ports`.
Will check again when I publish new versions.

[2022-08-13 22:01] garronej commented on #35
It shouldn't break anything. If it dose please report. Best regards

[2022-08-13 22:14] garronej commented on #55
@GervinFung: Looks good to me! Sure, I'm garronej#2144 on Discord. I'm on vacation so I'm may be long to answer.
@KillyMXI: I think it will be nice to have something standard yes, if you remember the name.

Also @GervinFung, note that since yesterday we also read the `denoify.out` option [here](https://github.com/garronej/denoify/blob/8f8f010a4598aaada31cd0de8a10860a1d77234d/src/lib/resolveNodeMod

[2022-08-13 22:46] KillyMXI commented on #55
I think it is https://github.com/davidtheclark/cosmiconfig

[2022-08-18 17:12] garronej commented on #55
Hi @GervinFung,
Just to say, in cas you wheren't aware [Deno is about tu support NPM and Node](https://deno.com/blog/changes%23compatibility-with-node-and-npm) out of the box soon.

I updated Denoify so that  `import express from "express";` automatically converts into:
`import express from "npm:express@5";` but I think I wont be investing much more time into the project since, starting from now,

[2022-08-18 20:26] KillyMXI commented on #35
I found a difference:
If I still have ports specified in my `package.json`, `denoify` uses it's own resolution algorithm anyway.
It would make sense to treat my input with higher priority and let me override paths.

[2022-08-19 00:19] garronej commented on #35
You are right, it's fixed in 1.0.1

[2022-08-24 14:19] garronej opened #58 "Increase node fetch timeout"
In Vietnam (slow to resolve links hosted in the US or Europe) I had many of theses:

[code]

[2022-08-29 00:53] waptik opened #60 "Can't locate promises from {"type":"DENO.LAND URL ...}"
So i am trying to denoify(v1.0.2) a forked project at https://github.com/waptik/epubgen and i'm getting the following error:
[code]

[2022-08-29 02:35] garronej commented on #60
Sorry about this error, I'll have a look

[2022-08-29 02:39] waptik commented on #60
Ok, thanks.

[2022-08-29 09:43] garronej commented on #60
@waptik, I see the problem, fixing...

[2022-08-29 10:34] garronej commented on #60
@waptik it's fixed in v1.0.3.
There are many NPM dependencies though, you'll get things like:
[code]

NPM support is still experimental in Deno but in a few weeks it should work.

Thanks for reporting!

[2022-08-29 10:34] #60 closed

[2022-09-03 08:17] GervinFung commented on #55
Thank you for suggesting this package. Initially I hand-crafted the parser for more customizations as there are only 2 config files - `denoifyrc.json` and `denoifyrs.js`. For example, I can warn the users when they forgot to remove the configs in `package.json` after they moved the configs to a config file.

But it's limiting that way as users cannot use extensionless file or YAML file, and in the

[2022-09-12 07:34] CluEleSsUK opened #63 "Cannot find a dependency in node_modules which is there"
While running `npx denoify` on my project, I received the following error:
`@noble/bls12-381 could not be found in the node_module directory seems like you needs to re-install your project dependency ( npm install )`

`@noble/bls12-381` is both in the package.json and the `node_modules` dir and I tried both `npx` and installing `denoify` locally.

MacOS 12.5.1, Node 16.15.1

[2022-09-12 09:26] garronej commented on #63
Hi @CluEleSsUK,
Sorry about that, could you link me the project you are trying to denoify?

[2022-09-12 12:16] CluEleSsUK commented on #63
hey @garronej, you can find the project I'm trying to denoify here: https://github.com/drand/drand-client/pull/38
It should be on master shortly!

[2022-09-12 12:21] CluEleSsUK commented on #63
I had a look at https://github.com/garronej/denoify/blob/834deb01043ca27ac8ee4afa42ad0fdf33c568c8/src/lib/resolveNodeModuleToDenoModule/resolveNodeModuleToDenoModule.ts and a few of the related files but couldn't see anything obviously amiss.
I tried fiddling with the test suite too, but couldn't figure out the format of it clearly.
Thanks for the quick response though!

[2022-09-12 12:31] garronej commented on #63
Thanks for looking into it.
Don't wory I'll take care of it.

[2022-09-14 01:05] garronej commented on #63
Hey @CluEleSsUK,
It works with the latest version of Denoify: 1.1.2

<img width="2042" alt="image" src="https://user-images.githubusercontent.com/6702424/190035836-3d674b37-be81-48a8-8797-9bc7be1d7603.png">

Thank you for reporting.

[2022-09-16 00:50] #58 closed

[2022-10-05 02:50] GervinFung commented on #55
Since this issue is addressed, thus it can be closed

[2022-10-05 06:59] garronej commented on #55
It's my bad, I shouldn't have merged yet.

[2022-10-06 14:46] GervinFung commented on #55
This time its really resolved, all the tests has passed

[2022-10-06 14:46] #55 closed

[2022-10-10 17:06] garronej opened #73 "Do not fail when a dependency repo is not reachable"
To reproduce, remove `.denoifyrc.json` from https://github.com/garronej/my_dummy_npm_and_deno_module  and build

[2022-10-20 07:39] riderx opened #77 "Allow to ignore only one line"
One of the packages I use, use polyfill for fetch, in Deno this is not necessary.
A perfect solution for that could be
[code]
This will make the work of the package more simple than create a Deno entry just to remove polyfill.
I believe that could benefit for more than one package.

The other solution found is to use a [`replacer`](https://github.com/garronej/my_dummy_npm_and_deno_module#step-2-de

[2022-10-20 10:48] garronej commented on #77
Good idea

[2022-10-20 16:54] Sh4yy commented on #77
[@garronej](https://github.com/garronej), thank you for the swift response. [@riderx](https://github.com/riderx) and I had a long discussion last night about different ways of transpiling [LogSnag's](https://logsnag.com/) [NPM package](https://github.com/LogSnag/logsnag.js) and found Denoify the cleanest setup at the moment.

The only issue right now is dropping the isomorphic-fetch import on [ind

[2022-10-22 04:26] garronej commented on #77
Let's go, it's avalaible in 1.3

See the doc: https://docs.denoify.land/special-comments#denoify-line-ignore

Thank you again for the recommendation

[2022-10-22 04:26] #77 closed

[2022-10-23 11:15] jakeklassen opened #78 "Error: Cannot find module evt/tools/reducers/partition"
I tried running `denoify@1.3.1` and got the following error:

[code]

Seems like `const partition_1 = require("evt/tools/reducers/partition");` is failing in `denoify.js`. Is this a dependency we need to add somewhere?

For context I'm trying to use denoify against a package built with https://tsup.egoist.dev/

[2022-10-23 11:55] #78 closed

[2022-10-23 12:31] garronej commented on #78
Hey @jakeklassen,
Thank you for reporting! I just released 1.3.2, it transpiles successfully tsup.

Best,